body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #150625;
    color: #FFFF00
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #150625;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #FFFF00
}

.options-container {
    margin-top: 20px;
    text-align: left;
}

.options-container label {
    display: block;
    margin-bottom: 10px;
    color: #FFFF00
}

#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #648db4;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}